/* Table of Content
====================
* Global variables
* General
* Magic cursor
* Header
* Classic menu
* Overlay menu
* Page header
* tt-Ggrid categories/filter
* Portfolio grid
* Portfolio carousel
* Portfolio slider (full screen)
* Portfolio interactive
* Portfolio list
* Portfolio single
* Blog list
* Blog carousel
* Blog single post
* Content carousel
* Sidebar (classic)
* Sliding sidebar
* Sidebar widgets
* tt-Signature
* tt-Headings
* Forms
* Buttons
* Accordion
* Scrolling text
* Logo wall
* Custom scrollbar style
* Page nav
* Next project (nav)
* Background color classes
* Footer
*/

/* ------------------------------------------------------------- *
 * Global variables
/* ------------------------------------------------------------- */

:root {
  --tt-main-bg-color: #f3f3f3; /* Template background color (you can play with some light variations). */
  --tt-main-color: #b12c0d; /* Template main color. */
  --tt-ghost-color: #e9e8e5; /* Title ghost color. */
}

/* ------------------------------------------------------------- *
 * General
/* ------------------------------------------------------------- */

body {
  background-color: var(--tt-main-bg-color);
  color: #333;
}

.text-gray {
  color: #777 !important;
}

.scrollbar-thumb {
  background: #666 !important;
}

.text-stroke-light {
  -webkit-text-stroke-color: #111;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  border-color: #111;
}

.cs-pagin-item,
[class*="tt-arrow"] {
  color: #111;
}

.scrollbar-track:hover {
  background: rgb(24 24 24 / 9%) !important;
}

/* ------------------------------------------------------------- *
 * Magic cursor
/* ------------------------------------------------------------- */

body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on) #ball {
  border-color: #787878;
}
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on)
  #ball
  .ball-drag,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on)
  #ball
  .ball-drag::before,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on)
  #ball
  .ball-drag::after {
  color: #787878;
}

#ball .ball-close {
  color: #111;
}

/* ------------------------------------------------------------- *
 * Header
/* ------------------------------------------------------------- */

#cs-header .cs-logo-light {
  display: none;
}
#cs-header .cs-logo-dark {
  display: block;
}
#cs-header,
.cs-ol-menu-toggle-btn-text {
  color: #111;
}
.cs-ol-menu-toggle-btn span::before,
.cs-ol-menu-toggle-btn span::after,
body:not(.is-mobile):not(.cs-ol-menu-open) .cs-ol-menu-toggle-btn:hover span {
  background-color: #111;
}

/* tt-Header light
=================== */
body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-light,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-light,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-light,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  #cs-header
  .cs-logo-light {
  display: block;
}
body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-dark,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-dark,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header
  .cs-logo-dark,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  #cs-header
  .cs-logo-dark {
  display: none;
}

body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header,
body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn-text,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn-text,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  #cs-header,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn-text,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  #cs-header,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn-text {
  color: #fff;
}

body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::before,
body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::after,
body.cs-ph-visible.ph-bg-image-on:not(.cs-light-bg-on):not(.is-mobile):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn:hover
  span,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::before,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::after,
body.cs-portfolio-slider-on:not(.cs-light-bg-on):not(.is-mobile):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn:hover
  span,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::before,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn
  span::after,
body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on):not(.is-mobile):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn:hover
  span,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn
  span::before,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .cs-ol-menu-active
  )
  .cs-ol-menu-toggle-btn
  span::after,
body.cs-np-image-on.cs-next-project-top:not(.cs-light-bg-on):not(
    .is-mobile
  ):not(.cs-ol-menu-active)
  .cs-ol-menu-toggle-btn:hover
  span {
  background-color: #fff;
}

/* ------------------------------------------------------------- *
 * Classic menu
/* ------------------------------------------------------------- */

@media (min-width: 1025px) {
  .cs-main-menu-list > li > a,
  .cs-main-menu-list > li > .cs-submenu-trigger > a {
    color: #111;
  }

  body.ph-bg-image-on.cs-ph-visible:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > a,
  body.ph-bg-image-on.cs-ph-visible:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > .cs-submenu-trigger
    > a,
  body.cs-portfolio-slider-on:not(.cs-light-bg-on) .cs-main-menu-list > li > a,
  body.cs-portfolio-slider-on:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > .cs-submenu-trigger
    > a,
  body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > a,
  body.cs-portfolio-hover-carousel-on:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > .cs-submenu-trigger
    > a,
  body.cs-next-project-top.cs-np-image-on:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > a,
  body.cs-next-project-top.cs-np-image-on:not(.cs-light-bg-on)
    .cs-main-menu-list
    > li
    > .cs-submenu-trigger
    > a {
    color: #fff;
  }

  .cs-main-menu-list.cs-mm-hover > li > a:hover,
  .cs-main-menu-list.cs-mm-hover > li > .cs-submenu-trigger > a:hover,
  .cs-main-menu-list.cs-mm-hover > li.active > a,
  .cs-main-menu-list.cs-mm-hover > li.active > .cs-submenu-trigger > a,
  .cs-main-menu-list.cs-mm-hover
    > li.cs-submenu-open
    > .cs-submenu-trigger
    > a {
    opacity: 1;
    color: #000;
  }
}

/* Mobile menu */
@media (max-width: 1024px) {
  .cs-main-menu-list > li a,
  .cs-m-caret,
  .cs-submenu-list > li > .cs-submenu-trigger .cs-m-caret {
    color: #111;
  }
  .cs-main-menu-list > li.active > a,
  .cs-main-menu-list > li.active > .cs-submenu-trigger a,
  .cs-main-menu-list > li > .cs-submenu-trigger.cs-m-submenu-open a,
  .cs-main-menu-list > li.active > .cs-submenu-trigger .cs-m-caret,
  .cs-submenu-list > li a:hover,
  .cs-submenu-list > li > .cs-submenu-trigger:hover a,
  .cs-submenu-list > li > .cs-submenu-trigger:hover .cs-m-caret,
  .cs-submenu-list > li > .cs-submenu-trigger.cs-m-submenu-open a,
  .cs-submenu-list > li > .cs-submenu-trigger.cs-m-submenu-open .cs-m-caret,
  .cs-submenu-list > li.active > a,
  .cs-submenu-list > li.active > .cs-submenu-trigger a,
  .cs-submenu-list > li.active > .cs-submenu-trigger .cs-m-caret {
    color: var(--tt-main-color);
  }

  body.cs-m-menu-active #cs-header .cs-logo-dark {
    display: block !important;
  }
  body.cs-m-menu-active #cs-header .cs-logo-light {
    display: none !important;
  }
  body.cs-m-menu-active .cs-m-menu-toggle-btn-text {
    color: #111;
  }
  body.cs-m-menu-active .cs-m-menu-toggle-btn span::before,
  body.cs-m-menu-active .cs-m-menu-toggle-btn span::after {
    background-color: #111;
  }
}

/* ------------------------------------------------------------- *
 * Overlay menu
/* ------------------------------------------------------------- */

.cs-overlay-menu {
  background-color: var(--tt-main-bg-color);
}
.cs-ol-menu-ghost {
  color: var(--tt-ghost-color);
  opacity: 1;
}

.cs-ol-menu-list > li > a,
.cs-ol-menu-list > li > .cs-ol-submenu-trigger > a,
.cs-ol-submenu-list > li a,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger > a,
.cs-ol-submenu-caret,
.cs-ol-menu-list > li li .cs-ol-submenu-caret,
.cs-overlay-menu.cs-ol-menu-count .cs-ol-menu-list > li::before,
.cs-ol-menu-social-heading,
.cs-ol-menu-social > li > a {
  color: #111;
}

.cs-ol-menu-list > li.active > a,
.cs-ol-menu-list > li.active > .cs-ol-submenu-trigger > a,
.cs-ol-menu-list > li.active > .cs-ol-submenu-trigger .cs-ol-submenu-caret,
body:not(.is-mobile) .cs-ol-menu-list > li > a:hover,
body:not(.is-mobile) .cs-ol-menu-list > li > .cs-ol-submenu-trigger:hover > a,
body:not(.is-mobile)
  .cs-ol-menu-list
  > li
  > .cs-ol-submenu-trigger:hover
  .cs-ol-submenu-caret,
.cs-ol-menu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open > a,
.cs-ol-menu-list
  > li
  > .cs-ol-submenu-trigger.cs-ol-submenu-open
  .cs-ol-submenu-caret,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open > a,
.cs-ol-submenu-list
  > li
  > .cs-ol-submenu-trigger.cs-ol-submenu-open
  .cs-ol-submenu-caret,
.cs-ol-submenu-list > li.active > a,
.cs-ol-submenu-list > li.active > .cs-ol-submenu-trigger > a,
.cs-ol-submenu-list > li.active > .cs-ol-submenu-trigger .cs-ol-submenu-caret,
.cs-ol-submenu-list > li a:hover,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger:hover > a,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger:hover .cs-ol-submenu-caret,
.cs-ol-menu-social > li > a:hover,
.cs-ol-menu-social > li > a:focus {
  color: var(--tt-main-color);
}

/* ------------------------------------------------------------- *
 * Page header
/* ------------------------------------------------------------- */

body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-caption-title,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-caption-subtitle,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-caption-description,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-category,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-meta,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-meta-posted-by a,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .cs-sd-text,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-share-text,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-share-icon,
body:not(.cs-light-bg-on):not(.ph-bg-image-on)
  .ph-share
  .social-buttons
  > ul
  > li
  a {
  color: #111;
}
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .ph-caption-title-ghost {
  color: var(--tt-ghost-color);
  opacity: 1;
}
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .cs-sd-arrow-inner,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .cs-sd-arrow::before,
body:not(.cs-light-bg-on):not(.ph-bg-image-on) .cs-sd-arrow::after {
  background-color: #111;
}

/* Page header light
===================== */
body.ph-bg-image-on.cs-ph-visible:not(.cs-light-bg-on)
  .ph-share
  .social-buttons
  > ul
  > li
  a {
  color: #fff;
}

/* ------------------------------------------------------------- *
 * tt-Ggrid categories/filter
/* ------------------------------------------------------------- */

.csgr-cat-nav {
  background-color: rgb(243 243 243 / 93%);
}
.csgr-cat-list > li > a {
  color: #111;
  opacity: 1;
}
.csgr-cat-list > li > a:hover,
.csgr-cat-list > li > a:focus,
.csgr-cat-list > li > a.active {
  color: var(--tt-main-color);
}
.csgr-cat-close,
.csgr-cat-list .csgr-cat-item::before {
  color: #111;
}

/* tt-Ggrid categories trigger */
.csgr-cat-trigger-wrap:not(.csgr-cat-fixed):not(.csgr-cat-colored)
  .csgr-cat-trigger {
  background-color: rgb(0 0 0 / 5%);
  color: #111;
}
.csgr-cat-trigger-wrap.csgr-cat-fixed:not(.csgr-cat-colored) .csgr-cat-trigger {
  background-color: rgb(221 221 221 / 70%);
  color: #111;
}

/* tt-Ggrid categories/filter classic 
====================================== */
ul.csgr-cat-classic-list > li > a {
  background-color: rgb(0 0 0 / 4%);
  color: #333;
}
ul.csgr-cat-classic-list > li > a:hover,
ul.csgr-cat-classic-list > li > a.active {
  background-color: #333;
  color: #fff;
}

/* ------------------------------------------------------------- *
 * Portfolio grid
/* ------------------------------------------------------------- */

#portfolio-grid:not(.pgi-cap-inside) .pgi-title,
#portfolio-grid:not(.pgi-cap-inside) .pgi-category {
  color: #111;
}

/* ------------------------------------------------------------- *
 * Portfolio carousel
/* ------------------------------------------------------------- */

@media (min-width: 1025px) {
  .cs-pci-caption-back .cs-pci-category {
    color: #111;
  }
  .pci-caption-stroke .cs-pci-caption-back .cs-pci-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #111;
  }
}

/* Portfolio carousel navigation */
.cs-pc-arrow,
.cs-pc-arrow [class*="tt-arrow"] {
  color: #111;
}
.cs-pc-pagination-progressbar {
  background-color: rgb(0 0 0 / 20%);
}
.cs-pc-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #111;
}
.cs-pc-pagination-bullets .swiper-pagination-bullet {
  border-color: #111;
}
.cs-pc-pagination-fraction {
  color: #111;
}

/* ------------------------------------------------------------- *
 * Portfolio slider (full screen)
/* ------------------------------------------------------------- */

.cs-portfolio-slider-navigation [class*="tt-arrow"] {
  color: #fff;
}

/* ------------------------------------------------------------- *
 * Portfolio interactive
/* ------------------------------------------------------------- */

.pi-item-title,
.pi-item-category,
.pi-item-title-link::before {
  color: #111;
}
.pi-item-hover-title {
  color: var(--tt-main-color);
}
body.pi-full-on:not(.page-header-on) .portfolio-interactive-ghost {
  color: var(--tt-ghost-color);
  opacity: 1;
}
.portfolio-interactive.hovered .pi-item-title,
.pi-item-image img,
.pi-item-image video {
  opacity: 1;
}
.pi-item-image-inner {
  background-color: transparent;
}

@media (min-width: 768px) {
  .portfolio-interactive.pi-inline .pi-item-title-link::after {
    color: #111;
  }
}

.portfolio-interactive.hovered .pi-item-category-wrap,
.portfolio-interactive.hovered .pi-item-title-link::before {
  opacity: 0.6;
}

/* Elements light
================== */
.portfolio-interactive.pi-center
  .portfolio-interactive-item:not(.pi-item-light-image-on)
  .pi-item-category {
  color: #fff;
}

/* ------------------------------------------------------------- *
 * Portfolio split
/* ------------------------------------------------------------- */

@media (min-width: 1025px) {
  .pspl-item-title,
  .pspl-item-category,
  .pspl-item-title-link::before {
    color: #111;
  }
  .pspl-item-hover-title {
    color: var(--tt-main-color);
  }

  .portfolio-split.hovered .pspl-item-title {
    opacity: 1;
  }
  .portfolio-split.hovered .pspl-item-category-wrap,
  .portfolio-split.hovered .pspl-item-title-link::before {
    opacity: 0.6;
  }

  .pspl-ghost {
    color: var(--tt-ghost-color);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on):not(
      .cs-ol-menu-active
    )
    .cs-ol-menu-toggle-btn-text,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on)
    .cs-main-menu-list
    > li
    > a,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on)
    .cs-main-menu-list
    > li
    > .cs-submenu-trigger
    > a,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on)
    #cs-footer
    .footer-social
    .footer-social-text,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on)
    #cs-footer
    .footer-social
    a {
    color: #fff;
  }
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on):not(
      .cs-ol-menu-active
    )
    .cs-ol-menu-toggle-btn
    span::before,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on):not(
      .cs-ol-menu-active
    )
    .cs-ol-menu-toggle-btn
    span::after,
  body.portfolio-split-on:not(.pspl-light-image-on):not(.pspl-reverse-on):not(
      .is-mobile
    ):not(.cs-ol-menu-open)
    .cs-ol-menu-toggle-btn:hover
    span {
    background-color: #fff;
  }

  /* If reversed layout is enabled */
  body.portfolio-split-on:not(.pspl-light-image-on):not(
      .cs-ol-menu-active
    ).pspl-reverse-on
    #cs-header
    .cs-logo-dark {
    display: none;
  }
  body.portfolio-split-on:not(.pspl-light-image-on):not(
      .cs-ol-menu-active
    ).pspl-reverse-on
    #cs-header
    .cs-logo-light {
    display: block;
  }

  body.portfolio-split-on:not(.pspl-light-image-on).pspl-reverse-on
    #cs-footer
    .cs-btn-link
    > *,
  body.portfolio-split-on:not(.pspl-light-image-on).pspl-reverse-on
    #cs-footer
    .cs-btn-link
    > *::after {
    color: #fff !important;
  }
  body.portfolio-split-on:not(.pspl-light-image-on).pspl-reverse-on
    #cs-footer
    .cs-btn-link:hover
    > *,
  body.portfolio-split-on:not(.pspl-light-image-on).pspl-reverse-on
    #cs-footer
    .cs-btn-link:hover
    > *::after {
    color: #fff !important;
  }
}

@media (max-width: 1024px) {
  body.portfolio-split-on:not(.cs-ol-menu-active) .cs-ol-menu-toggle-btn-text,
  body.portfolio-split-on #cs-footer .footer-social .footer-social-text,
  body.portfolio-split-on #cs-footer .footer-social a {
    color: #fff !important;
  }

  body.portfolio-split-on:not(.cs-ol-menu-active)
    .cs-ol-menu-toggle-btn
    span::before,
  body.portfolio-split-on:not(.cs-ol-menu-active)
    .cs-ol-menu-toggle-btn
    span::after,
  body.portfolio-split-on:not(.is-mobile):not(.cs-ol-menu-active)
    .cs-ol-menu-toggle-btn:hover
    span {
    background-color: #fff;
  }

  body.portfolio-split-on:not(.cs-ol-menu-active) #cs-header .cs-logo-dark {
    display: none;
  }
  body.portfolio-split-on:not(.cs-ol-menu-active) #cs-header .cs-logo-light {
    display: block;
  }

  body.portfolio-split-on #cs-footer .cs-btn-link > *,
  body.portfolio-split-on #cs-footer .cs-btn-link > *::after {
    color: #fff !important;
  }
  body.portfolio-split-on #cs-footer .cs-btn-link:hover > *,
  body.portfolio-split-on #cs-footer .cs-btn-link:hover > *::after {
    color: #fff !important;
  }
}

/* ------------------------------------------------------------- *
 * Portfolio list
/* ------------------------------------------------------------- */

.pli-caption-back .pli-category,
.pli-counter::before {
  color: #111;
}
.pli-counter::before {
  opacity: 1;
}
@media (max-width: 768px) {
  .pli-title {
    color: #111;
  }
}

/* ------------------------------------------------------------- *
 * Portfolio thumbnail list
/* ------------------------------------------------------------- */

.ptl-item,
.ptl-item:first-child {
  border-color: #ddd;
}

.ptl-item-title,
.ptl-item-category,
.ptl-item-caption::before {
  color: #111;
}
.ptl-item-hover-title {
  color: var(--tt-main-color);
}

.portfolio-thumbnail-list:hover .ptl-item-title {
  opacity: 1;
}
.portfolio-thumbnail-list:hover .ptl-item-category-wrap,
.portfolio-thumbnail-list:hover .ptl-item-caption::before {
  opacity: 0.6;
}

/* ------------------------------------------------------------- *
 * Portfolio single
/* ------------------------------------------------------------- */

.project-info-list .pi-list-heading,
.project-info-list .pi-list-cont,
.project-info-list .pi-list-cont a {
  color: #111;
}
.project-info-list > ul > li::after {
  background-color: rgb(169 169 169 / 43%);
}

@media (max-width: 1024px) {
  figcaption {
    color: #111;
  }
}

/* ------------------------------------------------------------- *
 * Blog list
/* ------------------------------------------------------------- */

.bli-title,
.bli-title a,
.bli-desc {
  color: #111;
}
.bli-categories,
.bli-meta,
.bli-meta a {
  color: #777;
}

/* ------------------------------------------------------------- *
 * Blog carousel
/* ------------------------------------------------------------- */

.cs-bci-title,
.cs-bci-title a,
.cs-bci-desc,
.cs-blc-pagination-fraction {
  color: #111;
}
.cs-bci-categories,
.cs-bci-meta,
.cs-bci-meta a {
  color: #616161;
}
.cs-blc-pagination-bullets
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  border-color: #111;
}
.cs-blc-pagination-progressbar {
  background-color: rgb(0 0 0 / 20%);
}
.cs-blc-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #111;
}

/* ------------------------------------------------------------- *
 * Blog single post
/* ------------------------------------------------------------- */

.cs-blog-post-content p {
  color: #333;
}

.cs-blog-post-tags span,
.cs-blog-post-tags a,
.cs-bps-text,
.cs-bp-nav-title a,
.cs-bp-nav-title a:hover,
.cs-comment-heading a,
.cs-comment-heading a:hover,
.cs-comment-reply a:hover,
.cs-comment-text {
  color: #111;
}
.cs-bp-nav-text,
.cs-comment-time {
  color: #777;
}

/* ------------------------------------------------------------- *
 * Content carousel
/* ------------------------------------------------------------- */

.cs-cc-pagination
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  border-color: #111;
}
.cs-cc-pagination-fraction {
  color: #111;
}
.cs-cc-pagination-progressbar {
  background-color: rgb(0 0 0 / 20%);
}
.cs-cc-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #111;
}

.cs-cc-nav-next [class*="tt-arrow"],
.cs-cc-nav-prev [class*="tt-arrow"] {
  color: #fff;
}

/* ------------------------------------------------------------- *
 * Sidebar (classic)
/* ------------------------------------------------------------- */

.cs-sidebar,
.cs-sidebar a {
  color: #111;
}

/* ------------------------------------------------------------- *
 * Sliding sidebar
/* ------------------------------------------------------------- */

@media (min-width: 769px) {
  .cs-sliding-sidebar-trigger {
    background-color: #ddd;
    color: #111;
  }
}

.cs-sliding-sidebar {
  background-color: #ededed;
}

.cs-sliding-sidebar-close {
  background-color: rgb(243 243 243 / 80%);
}

/* ------------------------------------------------------------- *
 * Sidebar widgets
/* ------------------------------------------------------------- */

.sidebar-categories > ul > li > a,
.sidebar-categories > ul > li > a:hover,
.sidebar-categories > ul > li > a span,
.sidebar-post-title a,
.sidebar-post-title a:hover,
.sidebar-comment-text,
.sidebar-comment-text a,
.sidebar-comment-text a:hover,
.sidebar-comment-author a,
.sidebar-comment-author a:hover,
.sidebar-tags-list a,
.sidebar-meta ul > li > a,
.sidebar-meta ul > li > a:hover {
  color: #111;
}
.sidebar-comment-text a:hover,
.sidebar-categories > ul > li > a:hover {
  opacity: 0.8;
}
.sidebar-post-date,
.sidebar-comment-date {
  color: #777;
}

/* -------------------------------------------------------------------- *
 * tt-Signature
/* -------------------------------------------------------------------- */

.cs-signature-light {
  display: none;
}
.cs-signature-dark {
  display: block;
}

/* -------------------------------------------------------------------- *
 * tt-Headings
/* -------------------------------------------------------------------- */

.cs-heading-title {
  color: #111;
}
.cs-heading-subtitle {
  color: #616161;
}
.cs-heading.cs-heading-stroke .cs-heading-title {
  -webkit-text-stroke-color: #111;
}

/* ------------------------------------------------------------- *
 * Forms
/* ------------------------------------------------------------- */

.cs-form-control,
.cs-form-control:focus,
.cs-form-filled .cs-form-control,
select[multiple] option,
.cs-form-btn-inside button {
  color: #111;
}
.cs-form-text {
  color: #888;
}
select option {
  background-color: #eee;
  color: #111;
}

.cs-form-control:focus,
.cs-form-minimal .cs-form-control:focus {
  border-color: #111;
}
::-webkit-input-placeholder,
.cs-form-minimal ::-webkit-input-placeholder {
  color: #111 !important;
}
:-moz-placeholder,
.cs-form-minimal :-moz-placeholder {
  color: #111 !important;
}
::-moz-placeholder,
.cs-form-minimal ::-moz-placeholder {
  color: #111 !important;
}
:-ms-input-placeholder,
.cs-form-minimal :-ms-input-placeholder {
  color: #111 !important;
}

.cs-form-check label::before,
.cs-form-radio label::before {
  background-color: #d1d1d1;
}
.cs-form-check:hover label::before,
.cs-form-radio:hover label::before {
  background-color: #c1c1c1;
}
.cs-form-check label::after,
.cs-form-radio label::after {
  border-color: #111;
}
.cs-form-radio label::after {
  background-color: #111;
}

/* -------------------------------------------------------------------- *
 * Buttons
/* -------------------------------------------------------------------- */

body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-light-outline
  > *,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-light-outline
  > *::after,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-light-outline:hover
  > *,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-link
  > *,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-link
  > *::after,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-link:hover
  > *,
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-link:hover
  > *::after {
  color: #111;
}
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-line {
  background-color: #111;
}
body:not(.cs-portfolio-slider-on):not(.cs-portfolio-hover-carousel-on):not(
    .cs-np-image-on
  ):not(.is-404-page)
  .cs-btn-light-outline {
  box-shadow: inset 0 0 0 2px #111;
}

.social-buttons > ul > li a,
.cs-contact-info a:hover {
  color: #111;
}

/* Scrolling button
==================== */
.scr-btn-text {
  fill: #111;
}
.cs-scrolling-btn:hover .scr-btn-text {
  fill: var(--tt-main-color);
}

.scr-btn-icon {
  color: #111;
}
.cs-scrolling-btn:hover .scr-btn-icon {
  color: var(--tt-main-color);
}

/* ------------------------------------------------------------- *
 * Accordion
/* ------------------------------------------------------------- */

.cs-ac-head-title,
.cs-accordion-caret,
.cs-accordion-content {
  color: #111;
}
.cs-accordion-subtext {
  color: #777;
}
.cs-accordion-item:not(.active) .cs-accordion-heading:hover .cs-ac-head-title,
.cs-accordion-item.active .cs-ac-head-title,
.cs-accordion-item:not(.active) .cs-accordion-heading:hover .cs-accordion-caret,
.cs-accordion-item.active .cs-accordion-heading:hover .cs-accordion-caret {
  color: var(--tt-main-color);
}

/* ------------------------------------------------------------- *
 * Scrolling text
/* ------------------------------------------------------------- */

.cs-scrolling-text-inner {
  color: #111;
}
.cs-scrolling-text.scr-text-stroke .cs-scrolling-text-inner {
  -webkit-text-stroke-color: #111;
}

/* ------------------------------------------------------------- *
 * Logo wall
/* ------------------------------------------------------------- */

.cs-logo-wall > li {
  border-color: rgb(155 155 155 / 20%);
}
.cs-logo-wall > li img {
  opacity: 1;
}
.cs-logo-wall > li:hover img {
  opacity: 0.8;
}
.cs-logo-wall .lv-client-light {
  display: none;
}
.cs-logo-wall .lv-client-dark {
  display: block;
}

/* ------------------------------------------------------------- *
 * Custom scrollbar style
/* ------------------------------------------------------------- */

/* Works on Firefox */
.cs-custom-scrollbar,
.cs-sliding-sidebar-inner,
.cs-sidebar {
  scrollbar-color: #aaa #d1d1d1;
}
select {
  scrollbar-color: #aaa #d1d1d1;
}

/* Works on Chrome, Edge, and Safari */
.cs-custom-scrollbar::-webkit-scrollbar-track,
.cs-sliding-sidebar-inner::-webkit-scrollbar-track,
.cs-sidebar::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  background: #d1d1d1;
}
.cs-custom-scrollbar::-webkit-scrollbar-thumb,
.cs-sliding-sidebar-inner::-webkit-scrollbar-thumb,
.cs-sidebar::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
select::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

/* ------------------------------------------------------------- *
 * Page nav
/* ------------------------------------------------------------- */

.cs-pn-title,
.cs-pn-hover-title,
.cs-pn-subtitle {
  color: #111;
}
.cs-page-nav.cs-pn-stroke .cs-pn-title {
  -webkit-text-stroke-color: #111;
}

/* ------------------------------------------------------------- *
 * Next project (nav)
/* ------------------------------------------------------------- */

body:not(.cs-np-image-on) .cs-next-project {
  background-color: var(--tt-ghost-color);
}
body:not(.cs-np-image-on) .cs-np-title,
body:not(.cs-np-image-on) .cs-np-title a,
body:not(.cs-np-image-on) .cs-np-subtitle {
  color: #111;
}
body:not(.cs-np-image-on) .cs-np-ghost {
  color: #242424;
}

/* ------------------------------------------------------------- *
 * Background color classes
/* ------------------------------------------------------------- */

.bg-white-accent-1 {
  background-color: rgb(0 0 0 / 1%) !important;
}
.bg-white-accent-2 {
  background-color: rgb(0 0 0 / 2%) !important;
}
.bg-white-accent-3 {
  background-color: rgb(0 0 0 / 3%) !important;
}
.bg-white-accent-4 {
  background-color: rgb(0 0 0 / 4%) !important;
}
.bg-white-accent-5 {
  background-color: rgb(0 0 0 / 5%) !important;
}
.bg-white-accent-6 {
  background-color: rgb(0 0 0 / 6%) !important;
}
.bg-white-accent-7 {
  background-color: rgb(0 0 0 / 7%) !important;
}
.bg-white-accent-8 {
  background-color: rgb(0 0 0 / 8%) !important;
}
.bg-white-accent-9 {
  background-color: rgb(0 0 0 / 9%) !important;
}
.bg-white-accent-10 {
  background-color: rgb(0 0 0 / 10%) !important;
}

/* ------------------------------------------------------------- *
 * Footer
/* ------------------------------------------------------------- */

body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  a,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-copyright,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-copyright
  a,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .footer-social,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-copyright.text-gray
  .cs-btn-link
  > *,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-btn-link
  > *,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-btn-link
  > *::after,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-btn-link:hover
  > *,
body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-btn-link:hover
  > *::after {
  color: #111;
}
@media (max-width: 1024px) {
  #cs-footer a,
  #cs-footer .cs-copyright a,
  #cs-footer .footer-social,
  #cs-footer .cs-copyright.text-gray .cs-btn-link > *,
  #cs-footer .cs-btn-link > *,
  #cs-footer .cs-btn-link > *::after,
  #cs-footer .cs-btn-link:hover > *,
  #cs-footer .cs-btn-link:hover > *::after {
    color: #111;
  }
}

body:not(.cs-np-image-on):not(.cs-portfolio-slider-on):not(
    .cs-portfolio-hover-carousel-on
  ):not(.cs-ph-visible)
  #cs-footer
  .cs-btn-line {
  background-color: #111;
}
